{
  "on": {},
  "jobs": {
    "ubuntu": {
      "runs-on": "ubuntu",
      "steps": [
        {
          "run": "node test"
        }
      ]
    },
    "macos": {
      "runs-on": "macos",
      "steps": [
        {
          "run": "node test"
        }
      ]
    },
    "windows": {
      "runs-on": "windows",
      "steps": [
        {
          "run": "node test"
        }
      ]
    }
  }
}