{
  "name": "CI",
  "on": {
    "pull_request": {}
  },
  "jobs": {
    "ubuntu-intel": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v5"
        },
        {
          "uses": "actions/setup-node@v6",
          "with": {
            "node-version": "24"
          }
        },
        {
          "run": "npm ci"
        },
        {
          "run": "npm test"
        },
        {
          "run": "npm run fst"
        },
        {
          "uses": "denoland/setup-deno@v2",
          "with": {
            "deno-version": "2"
          }
        },
        {
          "run": "deno task test"
        },
        {
          "run": "deno task fst"
        },
        {
          "run": "deno publish --dry-run"
        },
        {
          "uses": "oven-sh/setup-bun@v1"
        },
        {
          "run": "bun test --timeout 10000"
        },
        {
          "run": "bun ./dev/tf/module.ts"
        },
        {
          "run": "cargo fmt -- --check"
        },
        {
          "run": "cargo clippy -- -D warnings"
        },
        {
          "run": "cargo test"
        },
        {
          "uses": "bytecodealliance/actions/wasmtime/setup@v1"
        },
        {
          "uses": "wasmerio/setup-wasmer@v1"
        },
        {
          "run": "sudo dpkg --add-architecture i386"
        },
        {
          "run": "rustup target add i686-unknown-linux-gnu"
        },
        {
          "run": "cargo test --target i686-unknown-linux-gnu"
        }
      ]
    },
    "ubuntu-arm": {
      "runs-on": "ubuntu-24.04-arm",
      "steps": [
        {
          "uses": "actions/checkout@v5"
        },
        {
          "uses": "actions/setup-node@v6",
          "with": {
            "node-version": "24"
          }
        },
        {
          "run": "npm ci"
        },
        {
          "run": "npm test"
        },
        {
          "run": "npm run fst"
        },
        {
          "uses": "denoland/setup-deno@v2",
          "with": {
            "deno-version": "2"
          }
        },
        {
          "run": "deno task test"
        },
        {
          "run": "deno task fst"
        },
        {
          "run": "deno publish --dry-run"
        },
        {
          "uses": "oven-sh/setup-bun@v1"
        },
        {
          "run": "bun test --timeout 10000"
        },
        {
          "run": "bun ./dev/tf/module.ts"
        },
        {
          "run": "cargo fmt -- --check"
        },
        {
          "run": "cargo clippy -- -D warnings"
        },
        {
          "run": "cargo test"
        },
        {
          "uses": "bytecodealliance/actions/wasmtime/setup@v1"
        },
        {
          "uses": "wasmerio/setup-wasmer@v1"
        }
      ]
    },
    "macos-intel": {
      "runs-on": "macos-15-intel",
      "steps": [
        {
          "uses": "actions/checkout@v5"
        },
        {
          "uses": "actions/setup-node@v6",
          "with": {
            "node-version": "24"
          }
        },
        {
          "run": "npm ci"
        },
        {
          "run": "npm test"
        },
        {
          "run": "npm run fst"
        },
        {
          "uses": "denoland/setup-deno@v2",
          "with": {
            "deno-version": "2"
          }
        },
        {
          "run": "deno task test"
        },
        {
          "run": "deno task fst"
        },
        {
          "run": "deno publish --dry-run"
        },
        {
          "uses": "oven-sh/setup-bun@v1"
        },
        {
          "run": "bun test --timeout 10000"
        },
        {
          "run": "bun ./dev/tf/module.ts"
        },
        {
          "run": "cargo fmt -- --check"
        },
        {
          "run": "cargo clippy -- -D warnings"
        },
        {
          "run": "cargo test"
        },
        {
          "uses": "bytecodealliance/actions/wasmtime/setup@v1"
        },
        {
          "uses": "wasmerio/setup-wasmer@v1"
        }
      ]
    },
    "macos-arm": {
      "runs-on": "macos-latest",
      "steps": [
        {
          "uses": "actions/checkout@v5"
        },
        {
          "uses": "actions/setup-node@v6",
          "with": {
            "node-version": "24"
          }
        },
        {
          "run": "npm ci"
        },
        {
          "run": "npm test"
        },
        {
          "run": "npm run fst"
        },
        {
          "uses": "denoland/setup-deno@v2",
          "with": {
            "deno-version": "2"
          }
        },
        {
          "run": "deno task test"
        },
        {
          "run": "deno task fst"
        },
        {
          "run": "deno publish --dry-run"
        },
        {
          "uses": "oven-sh/setup-bun@v1"
        },
        {
          "run": "bun test --timeout 10000"
        },
        {
          "run": "bun ./dev/tf/module.ts"
        },
        {
          "run": "cargo fmt -- --check"
        },
        {
          "run": "cargo clippy -- -D warnings"
        },
        {
          "run": "cargo test"
        },
        {
          "uses": "bytecodealliance/actions/wasmtime/setup@v1"
        },
        {
          "uses": "wasmerio/setup-wasmer@v1"
        }
      ]
    },
    "windows-intel": {
      "runs-on": "windows-latest",
      "steps": [
        {
          "uses": "actions/checkout@v5"
        },
        {
          "uses": "actions/setup-node@v6",
          "with": {
            "node-version": "24"
          }
        },
        {
          "run": "npm ci"
        },
        {
          "run": "npm test"
        },
        {
          "run": "npm run fst"
        },
        {
          "uses": "denoland/setup-deno@v2",
          "with": {
            "deno-version": "2"
          }
        },
        {
          "run": "deno task test"
        },
        {
          "run": "deno task fst"
        },
        {
          "run": "deno publish --dry-run"
        },
        {
          "uses": "oven-sh/setup-bun@v1"
        },
        {
          "run": "bun test --timeout 10000"
        },
        {
          "run": "bun ./dev/tf/module.ts"
        },
        {
          "run": "cargo fmt -- --check"
        },
        {
          "run": "cargo clippy -- -D warnings"
        },
        {
          "run": "cargo test"
        },
        {
          "uses": "bytecodealliance/actions/wasmtime/setup@v1"
        },
        {
          "uses": "wasmerio/setup-wasmer@v1"
        },
        {
          "run": "cargo test --target i686-pc-windows-msvc"
        }
      ]
    },
    "windows-arm": {
      "runs-on": "windows-11-arm",
      "steps": [
        {
          "uses": "actions/checkout@v5"
        },
        {
          "uses": "actions/setup-node@v6",
          "with": {
            "node-version": "24"
          }
        },
        {
          "run": "npm ci"
        },
        {
          "run": "npm test"
        },
        {
          "run": "npm run fst"
        },
        {
          "run": "irm deno.land/install.ps1 | iex; \"$env:USERPROFILE\\.deno\\bin\" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append"
        },
        {
          "run": "deno task test"
        },
        {
          "run": "deno task fst"
        },
        {
          "run": "deno publish --dry-run"
        },
        {
          "run": "irm bun.sh/install.ps1 | iex; \"$env:USERPROFILE\\.bun\\bin\" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append"
        },
        {
          "run": "bun test --timeout 10000"
        },
        {
          "run": "bun ./dev/tf/module.ts"
        },
        {
          "run": "cargo fmt -- --check"
        },
        {
          "run": "cargo clippy -- -D warnings"
        },
        {
          "run": "cargo test"
        },
        {
          "uses": "bytecodealliance/actions/wasmtime/setup@v1"
        },
        {
          "uses": "wasmerio/setup-wasmer@v1"
        }
      ]
    }
  }
}