{
  "on": {},
  "jobs": {
    "ubuntu": {
      "runs-on": "ubuntu",
      "steps": []
    },
    "macos": {
      "runs-on": "macos",
      "steps": []
    },
    "windows": {
      "runs-on": "windows",
      "steps": []
    }
  }
}