{
  "on": {
    "pull_request": {}
  },
  "jobs": {
    "ubuntu": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "run": "node test"
        }
      ]
    },
    "macos": {
      "runs-on": "macos-latest",
      "steps": [
        {
          "run": "node test"
        }
      ]
    },
    "windows": {
      "runs-on": "windows-latest",
      "steps": [
        {
          "run": "node test"
        }
      ]
    }
  }
}