{
  "on": {
    "pull_request": {}
  },
  "jobs": {
    "ubuntu-intel": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "run": "npm test"
        }
      ]
    },
    "ubuntu-arm": {
      "runs-on": "ubuntu-24.04-arm",
      "steps": [
        {
          "run": "npm test"
        }
      ]
    },
    "macos-intel": {
      "runs-on": "macos-15-intel",
      "steps": [
        {
          "run": "npm test"
        }
      ]
    },
    "macos-arm": {
      "runs-on": "macos-latest",
      "steps": [
        {
          "run": "npm test"
        }
      ]
    },
    "windows-intel": {
      "runs-on": "windows-latest",
      "steps": [
        {
          "run": "npm test"
        }
      ]
    },
    "windows-arm": {
      "runs-on": "windows-11-arm",
      "steps": [
        {
          "run": "npm test"
        }
      ]
    }
  }
}